<div>
    <h2 id="page-heading">
        <span jhiTranslate="boxingApp.versement.home.title">Versements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-versement" [routerLink]="['/versement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="boxingApp.versement.home.createLabel">
            Create a new Versement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="versements?.length === 0">
        <span jhiTranslate="boxingApp.versement.home.notFound">No versements found</span>
    </div>
    <div class="table-responsive" *ngIf="versements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="boxingApp.versement.montant">Montant</span></th>
            <th><span jhiTranslate="boxingApp.versement.date">Date</span></th>
            <th><span jhiTranslate="boxingApp.versement.boxer">Boxer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let versement of versements ;trackBy: trackId">
                <td><a [routerLink]="['/versement', versement.id, 'view' ]">{{versement.id}}</a></td>
                <td>{{versement.montant}}</td>
                <td>{{versement.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="versement.boxer">
                        <a [routerLink]="['/boxer', versement.boxer?.id, 'view' ]" >{{versement.boxer?.fullName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/versement', versement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/versement', versement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/versement', { outlets: { popup: versement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
