<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="picture">
            <h2><span jhiTranslate="boxingApp.picture.detail.title">Picture</span> {{picture.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="boxingApp.picture.title">Title</span></dt>
                <dd>
                    <span>{{picture.title}}</span>
                </dd>
                <dt><span jhiTranslate="boxingApp.picture.img">Img</span></dt>
                <dd>
                    <div *ngIf="picture.img">
                        <a (click)="openFile(picture.imgContentType, picture.img)">
                            <img [src]="'data:' + picture.imgContentType + ';base64,' + picture.img" style="max-width: 100%;" alt="picture image"/>
                        </a>
                        {{picture.imgContentType}}, {{byteSize(picture.img)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/picture', picture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
