<form class="mx-2 my-2" name="deleteForm" (ngSubmit)="printReport()">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.print.title">Printing Boxers Preview</h4>
        <jhi-alert-error></jhi-alert-error>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="mx-2 " id="print-content">
        <div>
            <img style="float: right; max-width: 90px;" src="../../../content/images/logo.png" />
            <br>
        </div>
        <div [ngSwitch]="current">
            <jhi-print-boxeur-list *ngSwitchCase="all"></jhi-print-boxeur-list>
            <jhi-print-boxeur-card *ngSwitchCase="card"></jhi-print-boxeur-card>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-boxer" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'print'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.print">Delete</span>
        </button>
    </div>
</form>