<div class="overflow-auto" style="padding-left: 2rem; padding-right: 2rem; ">
    <div id="print-content" style="width: 900px;padding-right: 2rem;">
        <div>
            <img style="float: right; max-width: 90px;" src="../../../../content/images/logo.png" />
            <br><br>
            <h3> Liste Global des Adérant </h3>
        </div>

        <table class="table table-striped table-hover " style="user-select: auto;">
            <thead style="display: table-header-group;">
                <tr>

                    <th scope="col">#</th>

                    <th scope="col">
                        <span jhiTranslate="boxingApp.boxer.fullName">FullName</span>
                    </th>

                    <th scope="col">
                        <span jhiTranslate="boxingApp.boxer.birthDate">Birth Date</span>
                    </th>

                    <th scope="col">
                        <span jhiTranslate="boxingApp.boxer.phone">Phone</span>
                    </th>

                </tr>
            </thead>
            <tbody style="user-select: auto;">
                <tr *ngFor="let boxer of boxers; let i = index ;trackBy: trackId" style="user-select: auto;">
                    <th scope="row" style="user-select: auto;">{{i}}</th>
                    <th scope="row" style="user-select: auto;">{{boxer.fullName}}</th>
                    <td style="user-select: auto;">{{boxer.birthDate | date:'shortDate'}}</td>
                    <td style="user-select: auto;">{{boxer.phone}}</td>
                </tr>
            </tbody>
        </table>

        <div class="h5 ">
            <p class="float-right">- Nombre total d'aderant : {{nbr}}. <span style="color: transparent;">kkk</span></p>
            &#9;&#9;&#9;&#9;<p>- déliveré le
                {{curDate | date:'shortDate'}}</p>
        </div>
    </div>


</div>